@keyframes correctAnimation {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    } 
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}


@keyframes scroll-up {
    0%   { -webkit-transform: translate(0, 30%); }
	100% { -webkit-transform: translate(0, -130%); }
}

@keyframes textAnimation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

body {
    overflow: hidden;
    scrollbar-width: none;
}

.backGround {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/background.jpg);
}

.startBackGround {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/start-background.jpg);
}

/* .blessBackGround {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/bless-background.jpg);
} */


.centered-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

.blockButton {
    display: block;
    z-index: 10
}

.nonePage {
    display: none;
}

.title {
    position: absolute;
    top:50%;
    left: 25%;
    transform: translate(-50%, -15%);
    font-family: 'Arial', sans-serif;
    font-size: 5vw;
    color: #fff;
    text-align: center;
    word-wrap: break-word;

}

.ask, .ask-check-jump {
    font-family: 'Arial', sans-serif;
    font-size: 5vw;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    margin-top: 10px;
}

.container {
    margin: 0;
}

.answer, .answer-check-jump {
    width: 30vw;
    height: 20vw;
    border-radius: 3rem;
    background: rgba(255, 0, 0, 0.5);
    margin: 1rem;
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.correct-animation {
    position: relative;
    animation: correctAnimation 3s ease-out;
}

.text-shadow {
    text-shadow: 5px 5px 5px rgb(30, 30, 30);
}

/* 畫面顯示用css */
.evemv-ground {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    background: #ffffff;
    margin: auto;
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    animation: correctAnimation 3s ease-out;
}

.evemv-headline {
    margin: auto;
    position: absolute;
    left: 85px;
    text-align: center;
}

.evemv-picture-yes, .evemv-picture-no {
    border: 2px solid #abebff;
    background: #abebff;
    border-radius: 20px;
    width: 180px;
    height: 150px;
    font-size: 3vw;
    writing-mode: horizontal-tb;
}

.evemv-picture-yes {
    margin: auto;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.evemv-picture-no {
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.eve-video, .NY-video {
    width: 64vw;
    height: 36vw;
    position: absolute;
    left: 17vw;
}

.word, .word-text {
    margin: auto;
    position: absolute;
    top: 7vh;
    left: 5vw;
    color: white;
    font: 700 normal 7vh 'tahoma';
    white-space: pre-wrap;
    background-image: linear-gradient(
        -225deg,
        #570777 0%,
        #5824dd 15%,
        #13c0ff 30%,
        #72cc0c 50%,
        #f5ba0b 80%
    );
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.end-img {
    width: auto;
    height: 90vh;
    position: absolute;
    top: 50%;
    right: 3vw;
    transform: translate(0%, -50%);
    z-index: -1;
}


.scroll-up-text span {
    display: inline-block;
    text-indent: 0;
    animation: scroll-up 100s linear;
}


.now-bless {
    margin: 0px;
}

.bless-text {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 15vh;
    text-align: center;
    user-select: none;
    color: white;
}

#startButton, #startButton-NY {
    position: fixed;
    top: 55%;
    right: 30px;
    transform: translateY(-50%);
    background: none;
    border: none;
    background-color: transparent;
}
#countdown {
    font-size: 2vw;
    color: #faaaaa;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

#playButton, #go-to-end {
    position: fixed;
    top: 3px;
    left: 3px;
    z-index: 99;
    padding: 0.1vh 0.1vw;
    background-color: rgba(255, 255, 255, 0);;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 2.5vw;
}

#bless-container {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}
