@keyframes correctAnimation {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    } 
}


.backGround {
    height: 100vh;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/background.png);
    overflow-y: hidden;
}

.startBackGround {
    height: 100vh;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/start-background.png);
    overflow-y: hidden;
}

.centered-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

.blockButton {
    display: block;
    z-index: 10
}

.nonePage {
    display: none;
}

.title {
    position: absolute;
    top:45%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-family: 'Arial', sans-serif;
    font-size: 5rem;
    color: #fff;
    text-align: center;
    word-wrap: break-word;

}

.ask {
    font-family: 'Arial', sans-serif;
    font-size: 5rem;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    margin-top: 10px;
}

.container {
    margin: 0;
}

.answer {
    width: 40vw;
    height: 30vw;
    border-radius: 3rem;
    background: rgba(255, 0, 0, 0.5);
    margin: 1rem;
    font-family: 'Arial', sans-serif;
    font-size: 5em;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.correct-animation {
    position: relative;
    animation: correctAnimation 3s ease-out;
}

.text-shadow {
    text-shadow: 5px 5px 5px rgba(30, 30, 30, 1);
}


#startButton {
    position: fixed;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    background: none;
    border: none;
    background-color: transparent;
}

#countdown {
    font-size: 2rem;
    color: #faaaaa;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    font-weight: bold;
}