@keyframes correctAnimation {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    } 
}

body {
    overflow: hidden;
    scrollbar-width: none;
}

.backGround {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/background.jpg);
}

.startBackGround {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/start-background.jpg);
}

.centered-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    text-align: center;
}

.blockButton {
    display: block;
    z-index: 10
}

.nonePage {
    display: none;
}

.title {
    position: absolute;
    top:50%;
    left: 25%;
    transform: translate(-50%, -15%);
    font-family: 'Arial', sans-serif;
    font-size: 5vw;
    color: #fff;
    text-align: center;
    word-wrap: break-word;

}

.ask, .ask-check-jump {
    font-family: 'Arial', sans-serif;
    font-size: 5vw;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    margin-top: 10px;
}

.container {
    margin: 0;
}

.answer, .answer-check-jump {
    width: 30vw;
    height: 20vw;
    border-radius: 3rem;
    background: rgba(255, 0, 0, 0.5);
    margin: 1rem;
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.correct-animation {
    position: relative;
    animation: correctAnimation 3s ease-out;
}

.text-shadow {
    text-shadow: 5px 5px 5px rgb(30, 30, 30);
}

/* 畫面顯示用css */
.evemv-ground {
    width: 400px;
    height: 250px;
    border-radius: 20px;
    border: 2px solid #ffffff;
    background: #ffffff;
    margin: auto;
    position: relative;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    animation: correctAnimation 3s ease-out;
}

.evemv-headline {
    margin: auto;
    position: absolute;
    left: 85px;
    text-align: center;
}

.evemv-picture-yes, .evemv-picture-no {
    border: 2px solid #abebff;
    background: #abebff;
    border-radius: 20px;
    width: 180px;
    height: 150px;
    font-size: 3vw;
    writing-mode: horizontal-tb;
}

.evemv-picture-yes {
    margin: auto;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.evemv-picture-no {
    margin: auto;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.eve-video, .NY-video {
    width: 64vw;
    height: 36vw;
    position: absolute;
    left: 17vw;
}



#startButton, #startButton-NY {
    position: fixed;
    top: 55%;
    right: 30px;
    transform: translateY(-50%);
    background: none;
    border: none;
    background-color: transparent;
}
#countdown {
    font-size: 2vw;
    color: #faaaaa;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}



